
<head>
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
    <script type="text/javascript" src="../scripts/index.js"></script>
    <script type="text/javascript" src="../scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <h3>Welcome to</h3>
    <h1>Web Dev Getting Started</h1>

    <p>A project for getting started with software development!</p>

    <div class="btn-wrapper">
        <button onclick="buttonClick()">Click me</button>
    </div>

    <img id="image1" src="../../assets/toontennis.jpg" />
</body>